

hr.divider {
    border: none;
    background-image: url('/assets/img/divider.svg');
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 5px 0;
    width: auto;
    height: 9px;
}