.section {
    position: relative;
    height: 100vh;

    .container {
        height: 100%;
    }

    &-blue {
        color: $white;
        background-color: $blue;
    }

    &-brown {
        color: $white;
        background-color: $brown;
    }

    &-gray {
        background-color: $gray;
    }

    .section-content {
        @include vertical-center;
        margin-top: -50px;
    }

    .slide {
        padding: 0 90px;
    }

    @media(max-width:767px) {
        // @include calc("height", "100vh - 20px");
        height: 100vh;

        padding: 35px 0;
        // border-top: 2px solid $brand-color;
        // .section-content {
        //     height: 100% !important;
        //     top: inherit !important;
        //     transform: inherit !important;
        //     margin-top: 0 !important;
        // }
        .slide {
            padding: 0;
        }
    }
}


