html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

.word {
    position: relative;
    /* width: 265px; */
    /* height: 52px; */
    left: 58px;
    top: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 31px;
    color: #FFFFFF;
}

.dictionary-tile {
    background-color: #4E6269;
    position: relative;
    top: 50px;
    height: 218px;
    width: auto;
}

.definition {
    position: relative;
    left: 58px;
    top: 40px;
    line-height: 26px;
    font-size: 18.25px;
    color: #FFFFFF;
}

.part-of-speech {
    position: relative;
    /* height: 26px; */
    left: 58px;
    top: 40px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    font-size: 16px;
    color: #BED8E8;
}

/* main {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  height: vh;
} */

.middle {
    margin-left: 60px;
    margin-right: 50px;
    position: relative;
    top: 109px;
    max-width: 880px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: #555;
    line-height: 1.7em;
}