// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.navbar {
    border-bottom: 2px solid $brand-color;
    background-color: $white;

    .navbar-brand {
        height: 92px;

        img {
            font-family: Teko-Light;
        }
    }

    .navbar-right {
        margin-top: 22px;

        a {
            font-size: 40px;
            color: #000000;
        }

        li {
            background-color: $white;
            transition: background-color 0.3s ease-in-out;

            &.active, &:hover {
                background-color: #eeeeee;
            }

            &:active, a:visited {
                background-color: $white;
            }
        }

        .dropdown-menu {
            a {
                font-size: 24px;
                padding: 1px 10px;
            }
        }
        
    }

    .icon-bar {
        background-color: #563d7c;
    }

    @media(max-width:767px) {
        .navbar-brand {
            padding-bottom: 0;
            height: 60px;

            img {
                height: 40px;
            }
        }
        .navbar-toggle {
            margin-top: 15px;
        }
        ul li a {
            text-align: right;
        }
    }
}