// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
    padding-top: 0 !important;
}

.consulting {
    h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .service-item {
        font-size: 24px;
    }

    @media(max-width:767px) {
        h2 {
            font-size: 25px;
            margin-bottom: 5px;
        }
        .service-item {
            font-size: 19px;
        }
    }
}


.contact {
    h3 {
        font-size: 34px;
        margin-bottom: 25px;
    }
    input, textarea, button {
        border-radius: 0;
        border: 2px solid $white;
        background-color: #ABA99E;
        color: $white;
        font-size: 24px;
        letter-spacing: 1px;
        outline:0px !important;
        -webkit-appearance:none;

        &:focus {
            border-color: inherit !important;
        }
    }
    

    button {
        padding: 0 50px;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    address {
        font-size: 20px;
        margin-top: 25px;

        .phone {
            color: $white;
        }
    }

    // placeholder text color
    ::-webkit-input-placeholder {
       color: $white;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: $white;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: $white;  
    }
    :-ms-input-placeholder {  
       color: $white;  
    }


    @media(max-width:767px) {
        h3 {
            font-size: 25px;
            margin-bottom: 5px;
        }

        address {
            font-size: 19px;
            margin-top: 5px;
        }
    }
}


.projects {
    h4 {
        font-size: 34px;
        margin-bottom: 30px;
    }

    p {
        font-size: 24px;
        margin-bottom: 30px;
        text-align: justify;

    }

    @media(max-width:767px) {
        h4 {
            font-size: 25px;
            margin-bottom: 5px;
        }

        p {
            font-size: 19px;
            margin-bottom: 10px;
            text-align: left;

        }

        .fp-controlArrow {
            bottom: 25px;
            top: auto;
        } 
        .fp-prev {
            border-width: 10.5px 15px 10.5px 0 !important;
            left: 30% !important;
        }
        .fp-next {
            border-width: 10.5px 15px 10.5px !important;
            right: 30% !important;
        }
        
    }
}